.button {
    background-color: hsl(300, 100%, 25%) !important;
    border-color: hsl(300, 97%, 13%) !important;
  }
  
  .button:hover {
    background-color: hsl(300, 98%, 18%) !important; 
  }
  
  .button:focus {
    background-color: hsl(300, 100%, 25%) !important;
    box-shadow: 0 0 0 0.25rem hsla(300, 100%, 25%, 0.404) !important;
  }
  
  
  