.products-container {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  cursor: move;
  margin: 2rem;
  top: 15%;
}

.carousel {
  transform: translateX(0px);
  width: 80%;
  margin: auto;
  justify-content: center;
}

.products {
  display: inline-flex;
  font-family: "Rajdhani", sans-serif;
  color: hsl(0, 0%, 100%);
}

.product {
  display: block;
  margin: 0.5rem 1rem;
}

.product h3 {
    font-weight: bolder;
}
