.contacts {
    background-image: url('https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbnRhY3R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    font-family: "Rajdhani", sans-serif;
    height: 100vh;
    width: 100%;
}

.info {
    position: relative;
    width: 100%;
    height: 100vh;
    color: black;
    width: 70%;
    margin: auto;
    padding-top: 20rem;
}

.contact {
    display: block;
    font-size: larger;
}

